/* bootstrap FIX */
.card-block {
  padding: 1.25rem;
}


.sidebar-card {
  flex: 1;
  font-size: 1.5rem;
  font-weight: 300;


  @media(max-width:1100px){
    font-size: 1.2rem;
  }

  @media(max-width: 992px){
    font-size: 1.0em;
  } 

  header {
    font-size: 4.2rem;
    font-weight: 100;

    margin: 0;

    @media(max-width: 992px){
      font-size: 2.2em;
    }

  }
}

.sidebar-main-image {
  max-width: 50%;
  align-self: flex-end;
  @media(max-width: 992px){
    align-self: flex-end;
  }
}

@mixin left-padding(){
  padding-left: 1rem;
}

.sidebar-title {
  text-align: right;


  @media(max-width: 992px){
    @include left-padding();
    text-align: left;
  }

}


.list-group-item.list-group-item--sidebar {
  background-color: inherit;
  text-align: right;
  
  @media(max-width: 992px){
    padding: 0.25rem 0.5rem;
    @include left-padding();
    text-align: left;
  }
}

