/* bootstrap FIX */
.card-block {
  padding: 1.25rem;
}


.sidebar-title {
  text-align: right;

  @media(max-width: 992px){
    text-align: center;
  }

}


.list-group-item.list-group-item--sidebar {
  background-color: inherit;
  text-align: right;
  
  @media(max-width: 992px){
    padding: 0.25rem 0.5rem;
    text-align: center;
  }
}



